


body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


main{
  max-width: 1140px;
  margin: 0 auto;
}

h1{
  font-weight: 800;
}

p{
  color: #576574;
}


/* nav bar */

.new-bd{
  display: flex;
  justify-content: space-between;
  margin: 0 100px;
  align-items: center;
  height: 90px;
}

.new-bd-2{
  margin: 0;
}

.sign-in-btn{
  padding: 0;
  width: 90px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #16a085;
  color: #16a085;
  margin: 0;
}

/* heading section */


.heading-section{
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  max-width: auto;
  height: 320;
  background-color: #81ecec;
  padding: 40px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: bold;
}

.heading-content{
  width: 622px;
  height: 246px;
  align-items: center;
}

.bd-2{
  color: #636e72;
}

.heading-btn{
  color: white;
  background-color: #fa8231;
  padding: 15px 20px;
  border-radius: 5px;
  border: none;
}

button:hover{
  background-color: #b8e994;
  cursor: pointer;
}


/* card section */


.card-div{
  display: flex;
  margin-top: 20px;
}

.card-section-div{
  gap: 25px;
  box-shadow: 0px 6px 20px 0px #636e72;
  margin: 10px;
  width: 700px;
  padding: 20px;
  border-radius: 10px;
}

.card-1{
  background-color: #74b9ff;
}

.card-2{
  background-color: #fdcb6e;
}

.card-3{
  background-color: #b8e994;
}



.card-btn-1{
color: white;
background-color: #e58e26;
border: none;
padding: 11px 20px;
border-radius: 6px;
font-weight: bold;
}

.card-btn-2{
color: white;
background-color: #079992;
border: none;
padding: 11px 20px;
border-radius: 6px;
font-weight: bold;
}


.card-btn-3{
  color: white;
  background-color: #EA2027;
  border: none;
  padding: 11px 20px;
  border-radius: 6px;
  font-weight: bold;
}

/* Yunus details */

.yunus{
  color: #535c68;
  background-color: #c7ecee;
  padding:20px;
  border-radius: 10px;
  margin-top: 20px;
  background-image: url('./Images/quote-bg.png');
  background-repeat: no-repeat;
  background-position: 10px 10px;

}



.Yunus-name{
  color: black;
}


/* Drop Down option */

.your-opinion{
  margin-top: 60px;
}

.form-option{
  display: flex;
  justify-content: space-between;
  background-color: #7ed6df;
  border: 1px solid #95afc0;
  padding: 0 10px;
}


.drop-down{
  display: flex;
  justify-content: space-between;
  border-left: 1px solid #535c68;
  border-bottom: 1px solid #535c68;
  padding: 0 5px 0 5px;
}


/* Recent News option*/


.Date-Time{
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}


.satellite-option-1{
  display: flex;
  gap: 20px;
  background-color: #dffafa;
  margin: 20px;
  border-radius: 15px;
  padding: 20px;
}

.Read-More{
  background-color: #16a085;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
}



.Recent-News{
  padding: 5px 30px;
  margin-top: 30px;
}

.news-images{
  border-radius: 20px;
}


/* Donate option */


.Donate{
  text-align: center;
  padding: 0 40px;
}

.amount-div{
  display: flex;
  justify-content: space-around;
  margin: 10px 30px;
}

.amount:hover{
  background-color: #218c74;
  cursor: pointer;
}

.amount{
  box-shadow: 0 2px 50px 0 #bdc3c7;
  padding: 35px 40px;
  border-radius: 10px;
  font-weight: 800;
  font-size: 24px;
  border: 1px solid #c8d6e5;
  
}

.bg-color{
  background-color: #f7d794;
}


.input-amount{
  width: 600px;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #d2dae2;
}

.amount-area{
  text-align: center;
}

.donate-button{
  text-align: center;
  margin-top: 20px;
}

.donate-btn{
  color: white;
  padding: 10px 30px;
  background-color: #218c74;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}


/* subscribe area*/


.subscribe-news{
  text-align: center;
  background-color: #c7ecee;
  padding: 20px;
  border-radius: 10px;
  margin: 50px 20px;
}

.Subscribe{
  width:500px;
  padding: 10px 20px;
  text-align: center;
  border: 1px solid #d2dae2;
  margin: 0;
}

.subscribe-area{
  text-align: center;
}

.subscribe-btn{
  color: white;
  background-color: #218c74;
  padding: 10px 35px;
  margin-left: 0;
  border: none;
  border-radius: 0px 5px 5px 0px;
  font-weight: bold;
}

.last-text{
  text-align: center;
}






















